
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font:60px;    
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font: 60px; 
}

.carrossel{

 box-shadow: 2px 2px 4px black;
 overflow: hidden;
 height: 500px;
 width: 500px;

}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img{
    object-fit: cover;
    height: 500px;
    width: 500px;
}