*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family:[adelia];
    src: url(./adelia.ttf) ;
    color: gray;
    font:60px;    
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font: 60px; 
}

.container-slider{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
}